@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'nanumsquare', 'sans-serif';
}

input[type=password] {
    font-family: 'sans-serif';
}
input[type=password]::placeholder {
    font-family: 'nanumsquare', 'sans-serif';
}

/*navi css----------------------*/

.navi  {
    background-color: #fff;
    height: 40px;
    padding: 8px 20px;
}
.navi a {
    color: #000;
}
.navi a:first-child {
    position: relative;
    padding-right: 10px;
}
.navi a:first-child:after {
    position: absolute;
    content: '|';
    color: #000;
    right: 0;
    top: -5px;
}
.header {
    margin-top: 20px;

}
.header img {
    width: 170px;
}
.header h1 {
    font-family: 'ACCchildrenheartOTF-Regular','sans-serif';
    font-size: 25px;
}
.profile_go {
    padding-right: 0 !important;
}

.profile_go:after {
    content: '' !important;
}

/*--------------------------------------------*/

.form-control {
    border: none;
}

input::placeholder {
    font-size: 14px;
    color: #ddd;
    opacity: 0.5;
}
/*크롬 placeholder 색상변경*/
::-webkit-input-placeholder {
    color: #eee;
}

/*font&color----------------------*/

.point_color {
    color: #f2cb61;
}
.point_back_color {
    background-color: #f2cb61;
}
.white_color {
    color: white;
}
.gray_color {
    color: #eee;
}
.dark_gray_color {
    color: #333;
}

.font_13 {
    font-size: 13px;
}
.font_15 {
    font-size: 15px;
}

/*margin&padding---------*/

.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}

/*layout---------------*/
.orange_back {
    min-height: 250px;
}

