@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'nanumsquare', 'sans-serif';
}

input[type=password] {
    font-family: 'sans-serif';
}
input[type=password]::placeholder {
    font-family: 'nanumsquare', 'sans-serif';
}

/* 말줄임 적용 */
.ellipsis {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*navi css----------------------*/

.navi  {
    background-color: #fff;
    height: 40px;
    padding: 8px 20px;
    text-align: right;
    border-bottom: #E6E6E6 1px solid;

}
.navi a {
    color: #000;
}
.navi a:first-child {
    position: relative;
    padding-right: 10px;
}
.navi a:first-child:after {
    position: absolute;
    content: '|';
    color: #000;
    right: 0;
    top: -3px;
}
.header {
    margin-top: 20px;
    text-align: center;

}
.header img {
    width: 170px;
}
.header h1 {
    font-family: 'ACCchildrenheartOTF-Regular','sans-serif';
    font-size: 25px;
}
.profile_go {
    padding-right: 0 !important;
}

.profile_go:after {
    content: '' !important;
}

/*--------------------------------------------*/

.form-control {
    border: none;
}

input::placeholder {
    font-size: 14px;
    color: #ddd;
    opacity: 0.5;
}
/*크롬 placeholder 색상변경*/
::-webkit-input-placeholder {
    color: #eee;
}

/*font&color----------------------*/

.point_color {
    color: #f2cb61;
}
.point_back_color {
    background-color: #f2cb61;
}
.white_color {
    color: white;
}
.gray_color {
    color: #eee;
}
.dark_gray_color {
    color: #333;
}

.font_13 {
    font-size: 13px;
}
.font_15 {
    font-size: 15px;
}

/*margin&padding---------*/

.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}

.p0{
    padding: 0;
}


/*layout---------------*/
.orange_back {
    min-height: 250px;
}

/*button---------------*/

.btn-warning{
    width: 100%;
    padding: 3px 12px 3px 12px;
}

/*card-----------------*/
.info_box {
    height: 24px;
}
.comment_box {
    height: 85px;
}

.bunga_card {
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #D8D8D8;
    transition:0.2s linear;
}

.bunga_card:hover {
    border: 2px solid #FFA500;
}

.bunga_card_img {
    cursor: pointer;
}

.card_profile {
    padding: 10px;
}
.card_profile_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 0;
    overflow: hidden;

}

.card_profile_img img {
    width: 100%;
    height: 100%;
}

.modal_card {
    position: relative;
}

.modal_submit {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.modal_comment {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.modal_comment:last-child {
    border-bottom: none;
}
.comment_profile {
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 10px;
    border: 1px solid #eee;
    border-radius: 50%;
}
