* {
    font-family: 'Gamja Flower', cursive;
}

.wrap {
    background-color: #F2CB61;
    width: 800px;
    min-height: 500px;
    padding-bottom: 20px;
    padding-top: 1px;

}

.container {
    width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.input-group-text {
    font-size: 25px;
}

.navi {
    text-align: right;
    background-color: #F4F3F3;
    border-bottom: #E6E6E6 1px solid;
    height: 30px;
}

.header {
    text-align: center;
}

