<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>겨울붕어</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <!--font-awesome 링크 -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- cookie -->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <style>
        * {
            font-family: 'Gamja Flower', cursive;
        }

        .wrap {
            background-color: #F2CB61;
            min-height: 100vh;
            padding-bottom: 50px;
        }

        .banner {
            width: 100%;
            height: 200px;

            background-color: white;
            background-image: url('{{ url_for("static", filename="겨울붕어2.png") }}');

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            cursor: pointer;
        }

        .btns {
            width: 200px;
            text-align: center;
            float: right;
        }

        .container {
            width: 800px;
            text-align: center;
            margin: auto;
            margin-top: 100px;
        }

        .input-group-text {
            font-size: 25px;
        }
    </style>
    <script>
        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = '/login'
        };

        function save_post() {
            let img_url = $('#post-url').val();
            let title = $('#post-title').val();
            let address = $('#post-address').val();
            let review = $('#post-review').val();
            if( img_url == "" || title == "" || address =="" || review ==""){
                alert('모두 입력해 주세요!')
                return;
            }
            $.ajax({
                type: "POST",
                url: `/save_post`,
                data: {
                    img_url_give: img_url,
                    title_give: title,
                    address_give: address,
                    review_give: review
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href="/"
                }
            });
        }


    </script>
</head>
<body>
<div class="wrap">
    <div class="banner">
        {% if nickname != null %}
            <div class="btns">
                <button type="button" class="btn btn-outline-secondary" onclick="logout()">로그아웃</button>
            </div>
        {% else %}
            <div class="btns">
                <button type="button" class="btn btn-outline-secondary" onclick="/login">로그인</button>
                <button type="button" class="btn btn-outline-secondary" onclick="/register">회원가입</button>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <h1 style="margin-bottom: 50px; font-size: 40px;color: #495057;">간식붕어 작성하기</h1>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">닉네임:{{ user_info.nickname }}</span>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
            </div>
            <input id="post-title" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이미지</span>
            </div>
            <input id="post-url" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default"
                   placeholder="이미지url을 넣어주세요!">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">위치</span>
            </div>
            <input id="post-address" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">코멘트</span>
            </div>
            <textarea id="post-review" class="form-control" aria-label="With textarea" style="height: 200px;"
                      placeholder="코멘트를 입력해주세요!"></textarea>
        </div>
        <button type="button" class="btn btn-outline-secondary" onclick="save_post();"
                style="margin-top: 40px;">작성하기
        </button>
        <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '/'"
                style="margin-top: 40px;">취소
        </button>
    </div>
</div>

</body>
</html>