<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--  css 파일 분리  -->
    <link rel="stylesheet" type="text/css" href="../static/common.css">
    <link rel="stylesheet" type="text/css" href="../static/register.css">

    <!-- Webpage Title -->
    <title>SIGNUP | 겨울붕어</title>


    <!--  ///////////////////////// JavaScript ////////////////////////// -->
    <script type="text/javascript">

        $(document).ready(function(){
            // 1. $(tagName) : 2.(#id) : 3.$(.className)
            $("button.btn.signup_btn").on("click", function () {
                AddUser();
            });

            // 1. $(tagName) : 2.(#id) : 3.$(.className)
            $("button.btn.check_btn").on("click", function () {
                console.log("good")
                check_dup();//이걸 유효성검사로
            });


            $('#id').on('input',function(){
               if ($('#id').val()==''){
                   $('.check_btn').attr("disabled",true);
                   $('.check_btn').removeClass('on');
               } else {
                   $('.check_btn').attr("disabled",false);
                   $('.check_btn').addClass('on');
               }
            });

        });


        function to_main () {
            window.location.href = '/'
        }


        function AddUser() {

            let id = $("input[name='id']").val();
            let pw = $("input[name='pw']").val();
            let nickname = $("input[name='nickname']").val();

            //let photo=$("input[name='profilePhoto']").val();


            if (id == null || id.length < 1) {
                alert("아이디는 반드시 입력하셔야 합니다.");
                return;
            }

            if (pw == null || pw.length < 1) {
                alert("패스워드는  반드시 입력하셔야 합니다.");
                return;
            }


            if (nickname == null || nickname.length < 2) {
                alert("닉네임은  반드시 두 자 이상 입력하셔야 합니다.");
                return;
            }




            $.ajax({
                type: "POST",
                url: "/addUser",
                data: {id: id, pw: pw, nickname: nickname},
                success: function (response) {

                    if (response["exists"]) {
                        alert("다른 아이디를 사용해주세요.");
                    } else {
                        alert("가입완료!")
                        window.location.href = 'http://localhost:5000';
                    }


                }
            })



        }

        function check_dup() {
            let id = $("input[name='id']").val();
            console.log(id)
            // if (!is_nickname(username)) {
            //     $("#help-id").text("아이디의 형식을 확인해주세요. 영문과 숫자, 일부 특수문자(._-) 사용 가능. 2-10자 길이").removeClass("is-safe").addClass("is-danger")
            //     $("#input-username").focus()
            //     return;
            // }
            if (id == "") {
                alert("아이디를 입력해주세요.")
                return ;
            }

            if (!is_nickname(id)) {
                 //$("#help-id").text("아이디의 형식을 확인해주세요. 영문과 숫자, 일부 특수문자(._-) 사용 가능. 2-10자 길이").removeClass("is-safe").addClass("is-danger")
                 //$("#input-username").focus()
                 alert("영문을 반드시 포함하세요 숫자, 일부 특수문자(._-) 사용 가능 및 2-10자 길이의 기준을 맞춰주세요")
                 return;
             }

            $.ajax({
                type: "POST",
                url: "/sign_up/check_dup",
                data: {
                    id: id
                },
                success: function (response) {

                    if (response["exists"]) {

                        alert("이미 존재하는 아이디입니다.");
                    } else {
                        alert("사용하실 수 있는 아이디 입니다..");
                    }

                }
            });
        }


        function is_nickname(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;//소괄호:필수포함, 숫자:2~10자사이
            return regExp.test(asValue);
        }

        //function is_password(asValue) {
        //    var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
        //    return regExp.test(asValue);
       // }
    </script>


</head>
<body>
    <div class="register_wrap">
        <a onclick="to_main()" href="javascript:void(0);"><h1 class="logo"><img src="../static/logo.png" alt="logo"></h1></a>
        <h3 class="text-center">회원가입</h3>
        <h6 class="text-center font_15 dark_gray_color mb20">정보를 입력해주세요</h6>
        <form class="">
            <div class="register_box point_back_color">

                <div class="form-group">
                    <label for="id" class="white_color font_13">아이디</label>
                    <div class="form-inline double_input">
                        <input type="text" class="form-control" placeholder="아이디를 입력하세요." name="id" id="id">
                        <button class="btn check_btn font_13" type="button">아이디 중복 확인</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pw" class="white_color font_13">비밀번호</label>
                    <input type="password" class="form-control" placeholder="비밀번호를 입력하세요." name="pw" id="pw">
                </div>
                <div class="form-group">
                    <label for="nickname" class="white_color font_13">닉네임</label>
                    <input type="text" class="form-control" placeholder="닉네임을 입력하세요." name="nickname" id="nickname">
                </div>
            </div>
            <button class="btn signup_btn" type="button">가입하기</button>
        </form>
    </div>
</body>